section h3 {
  color: var(--neutral-dark);
  font-size: 1.7em;
}

/* Hero Section */
.hero-section {
  display: flex;
  align-items: center;
  margin: 60px auto;
  max-width: 85%;
}

.hero-section-text {
  flex: 1;
}

.hero-section-image {
  flex: 1;
}

.hero-section-image .image-container {
  position: relative;
}

.hero-section-image .main-image {
  width: 400px;
  max-width: 100%;
  margin-right: 20px;
  height: auto;
  display: block;
  z-index: 1;
}

.hero-section-image .overlay {
  position: absolute;
  z-index: 2;
  background: transparent;
  width: 240px;
  height: auto;
}

.hero-section-image .top-left {
  top: 0px;
  left: 20px;
}

.hero-section-image .bottom-right {
  bottom: -80px;
  right: -50px;
}

.hero-section-text h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.hero-section-text p {
  font-size: 1.1rem;
}

.hero-section-buttons {
  margin-top: 40px;
}

/* Partners */
.partners {
  margin-top: 10%;
  max-width: 85%;
  text-align: center;
  margin-bottom: 10%;
}

.partners-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  flex-wrap: wrap;
}

.partners-container img {
  filter: grayscale(100%);
  max-width: 150px;
  height: auto;
}

/* Recent Projects */
.recent-projects {
  max-width: 85%;
  margin: 0 auto;
}

.recent-projects h3 {
  margin-bottom: 40px;
}

.projects-container {
  display: flex;
  gap: 60px;
}
  
.project-card {
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  flex: 1;
}

.project-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
}

.project-card .card-content {
  width: 100%;
  padding: 15px;
  text-align: left;
}

.project-card h3 {
  color: var(--neutral-dark);
  margin: 10px;
  font-size: 1.1rem;
  text-align: left;
}

.project-card p {
  margin: 0 10px 10px;
  font-size: 0.8rem;
  color: var(--neutral-medium);
  flex-grow: 1;
  
}

.project-card a {
  margin: 10px;
  margin-top: auto;
  font-size: 0.8rem;
  text-decoration: none;
  color: var(--primary);
  align-self: flex-start;
}

/* Testimonials */
.testimonials {
  margin-top: 10%;
  background: var(--neutral-dark) url("../images/testimonial-section/orbit.png") no-repeat
    center center;
  background-size: contain;
  padding: 80px 30px;
  box-sizing: border-box;
  text-align: center;
  position: relative;
  margin-bottom: 10%;
}

.testimonials h3 {
  color: #fff;
  margin-bottom: 40px;
  font-size: 2rem;
}

.testimonial-container {
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

.testimonial {
  position: relative;
  padding: 20px;
}

.avatar {
  position: absolute;
  width: 120px;
  height: auto;
}

.avatar.top-left {
  top: -120px;
  left: -60px;
}

.avatar.top-right {
  top: -120px;
  right: -60px;
}

.avatar.bottom-left {
  bottom: -20px;
  left: -60px;
}

.avatar.bottom-right {
  bottom: -20px;
  right: -60px;
}

.testimonial-quote {
  color: var(--secondary);
  font-size: 1.2rem;
  line-height: 1.5;
  max-width: 600px;
  margin: 10px auto 20px;
}

.testimonial-author {
  display: inline-block;
  text-align: left;
  margin: 80px auto 0;
}

.author-name {
  font-size: 0.9em;
  color: var(--primary-hover);
}

.author-company {
  font-size: 0.7em;
  color: #fff;
}

/* Services */
.services {
  max-width: 85%;
  margin: 0 auto;
  margin-bottom: 10%;
}

.services h3 {
  text-align: left;
  margin-bottom: 40px;
}


.services-container {
  display: flex;
  gap: 60px;
}

.service-card {
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  flex: 1;
  padding: 20px;
}

.service-icon {
  width: 60px;
  height: 60px;
  background-color: var(--neutral-light-blue);
  border-radius: 50%;
  margin: 10px;
  margin-bottom: 30px;
  width: 40px;
  height: 40px;
}

.service-icon img {
  width: 30px;
  height: auto;
}

.service-card h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: var(--neutral-dark);
}

.service-card p {
  font-size: 0.9rem;
  color: var(--neutral-medium);
  line-height: 1.4;
}

.service-card a {
  display: inline-block;
  margin-top: 35px;
  font-size: 0.9rem;
  color: var(--primary);
  text-decoration: none;
  font-weight: 500;
}

@media (max-width: 768px) {
  .service-card {
    width: 100%;
  }
}


/* Subscribe */
.subscribe {
  margin-top: 10%;
  background-color: var(--secondary);
  text-align: center;
  padding: 100px 20px;
  margin-bottom: 5%;
}

.subscribe h3 {
  margin-bottom: 15px;
}

.subscribe p {
  margin-bottom: 30px;
  font-size: 1.1rem;
}

.subscribe-form {
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.subscribe-form input {
  min-width: 300px;
  padding: 15px 20px 15px 40px;
  border: none;
  font-size: 0.9rem;
  background-image: url("../images/newsletter/mail.svg");
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 20px;
}

.subscribe-form input::placeholder {
  font-size: 0.9rem;
}

.subscribe-form button {
  padding: 15px 36px;
  background-color: var(--primary);
  color: #fff;
  border: none;
  font-size: 0.7rem;
  cursor: pointer;
}

/* Footer */
.footer {
  max-width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 40px 20px;
  flex-wrap: wrap;
}

.footer-left {
  flex: 1;
  float: left;
  min-width: 250px;
}

.footer-left img {
  max-width: 150px;
  height: auto;
  margin-bottom: 15px;
}

.footer-left p {
  margin-top: 20px;
  font-size: 0.9rem;
  line-height: 1.4;
  color: var(--neutral-medium);
}

.footer-right {
  flex: 1;
  min-width: 250px;
}

.footer-menu {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 40px 10px;
  list-style: none;
  padding: 0;
  text-align: left;
  margin: 0;
}

.footer-menu li a {
  text-decoration: none;
  font-size: 0.9rem;
  color: var(--neutral-medium);
}


/* --- INFO PROJECT SECTION --- */

.project-image-section {
  width: 100%;
  margin-top: 4%;
  margin-bottom: 7%;
}

.project-image {
  width: 84%;
  height: 40vh;
  object-fit: cover;
  filter: drop-shadow(5px 5px 20px #c414ca74);
}

.project-description {
  font-family: Roboto;
  color: var(--NeutralMedium);
  margin-bottom: 7%;
  text-align: left;
  background-color: var(--NeutralLight);
  margin-left: 40px;
  margin-right: 40px;
  font-size: 11px;
}

/* Scroll up button */
.scroll-up-btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: var(--primary);
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: none; 
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1000;
  transition: opacity 0.3s ease;
}

.scroll-up-btn.show {
  display: flex;
  opacity: 1;
}

.scroll-up-btn.hide {
  opacity: 0;
  pointer-events: none;
}

