@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700");

:root {
    --primary: #072AC8;
    --accent: #43D2FF;
    --primary-hover: #A2D6F9;
    --primary-tapped: #D1EDFF;

    --neutral-dark: #292E47;
    --neutral-medium: #6B708D;
    --neutral-light: #F2F4FC;
    --neutral-light-blue: #ECF7FF;

    --secondary: #FFC600;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    background-color: var(--neutral-light);
    box-sizing: border-box;
}

h1 {
    font-size: 60px;
    font-weight: bold;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Header */
.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px;
    color: #fff;
}

.header-left .logo {
    max-height: 50px;
}

.nav-menu {
    list-style: none;
    display: flex;
    gap: 40px;
}

.nav-menu li a {
    text-decoration: none;
    color: var(--neutral-medium);
    font-weight: bold;
}

.btn {
    padding: 10px 36px;
    text-decoration: none;
}

.contact-btn {
    background: var(--primary);
    color: white;
}

.projects-btn {
    color: var(--neutral-medium);
    padding: 10px 36px;
    text-decoration: none;
    border-radius: 4px;
}


/* Hero Section */
.hero-section {
    display: flex;
    align-items: center;
    padding: 40px 20px;
}

.hero-section-text {
    flex: 1;
    padding-right: 20px;
}

.hero-section-image {
    flex: 1;
    text-align: right;
}

.hero-section-image .image-container {
    position: relative;
}

.hero-section-image .main-image {
    width: 100%;
    height: auto;
    display: block;
    z-index: 1;
}

.hero-section-image .overlay {
    position: absolute;
    z-index: 2;
    background: transparent;
    width: 340px;
    height: auto;
}

.hero-section-image .top-left {
    top: -35px;
    left: -110px;
}

.hero-section-image .bottom-right {
    bottom: -160px;
    right: -110px;
}

.hero-section-text h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.hero-section-text p {
    font-size: 1.1rem;
}

.hero-section-buttons {
    margin-top: 40px;
}

/* Partners */
.partners {
    text-align: center;
    margin: 100px auto;
}

.partners-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    flex-wrap: wrap;
    /* Opcional, si se quiere que se acomoden en varias líneas en pantallas pequeñas */
}

.partners-container img {
    filter: grayscale(100%);
    max-width: 150px;
    height: auto;
}

/* Recent Projects */
.recent-projects {
    padding: 40px 20px;
}

.recent-projects h2 {
    margin-bottom: 20px;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.project-card {
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.project-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
}

.project-card h3 {
    margin: 10px;
    font-size: 1.5rem;
}

.project-card p {
    margin: 0 10px 10px;
    font-size: 1rem;
    color: #666;
    flex-grow: 1;
}

.project-card a {
    margin: 10px;
    text-decoration: none;
    color: #0D3B66;
    font-weight: bold;
    align-self: flex-start;
}

/* Si deseas asegurar que se muestre en dos filas, en el caso de tres cards,
     la primera fila tendrá dos y la segunda la restante, y en pantallas pequeñas se puede 
     ajustar para que sea 100% */
@media (max-width: 768px) {
    .project-card {
        width: 100%;
    }
}